.age-calculator{
  text-align: center;
  margin-top: 100px;
  
}

#b1{
  background-color: rgb(0, 148, 222);
  color: white;
  border: none;
  padding: 9px;
  border-radius: 5px;
  
}

.content{
  padding: 5px;
  padding-left: 90px;
}

#a1{
  font-weight: bolder;
  font-size:x-large;
}